:root {
--header-color: #2196F3;
--accent-color: #FFFFFF;

}

.list {
  list-style: none;  
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color:  #212121;
    background-color: var(--accent-color);
    
}

/*----------------HEADER----------------*/

.logo {
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
color: var(--header-color);
text-decoration: none;
letter-spacing: 0.02em;
} 
.logo-header {
    color: #000000
}

.nav-list-item.current {
    color: var(--header-color);
}
.nav-list-item,.header-tel,.mail {

font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.nav-list-item:hover,
.nav-list-item:focus {
color: var(--header-color);
}

.header-tel,.mail {

color: #757575;

}
.header-tel:hover,
.header-tel:focus {
    color: var(--header-color);
}

.mail:hover,
.mail:focus {
    color: var(--header-color);
}

/* -------------Hero------------------- */
.hero {
    background-color: #2F303A;
}
.hero-h {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--accent-color);

}
.hero-bt {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--accent-color);
background-color: var(--header-color);
cursor: pointer;
}
.hero-bt:hover,
.hero-bt:focus {
    border-color: var(--accent-color);
}

/*--------------Footer------------------*/
.basement {
background-color: brown;  
}
.logo-footer {
    color: var(--accent-color);
}
.basement-adr {
font-family: inherit;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--accent-color);
}


