body {
    font-family: 'Roboto Regular', sans-serif;
    background-color: #FFFFFF;
    
}
.header 

.logo {
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
color: #2196F3;
text-decoration: none;
letter-spacing: 0.02em;
} 
.logo-header {
    color: #000000
}

.logo-footer {
    color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
    font-family: roboto;
}

